@import "tailwindcss";

@theme {
  --color-buey-dark: #0A0A0A;
  --color-buey-white: #F5F5F5;
  --color-buey-orange: #FF4F00;
}

body {
  background-color: var(--color-buey-dark);
  color: var(--color-buey-white);
}
